#canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#canvas {
    border: 1px solid black;
}
#footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer {
    text-align: center;
    margin: 0 auto;
}